
03-Storing resources in SQL/code/data.db
*.pyc
*.pyc
03-Storing resources in SQL/code/data.db
03-Storing resources in SQL/code/__pycache__/item.cpython-38.pyc
04-Simplifying storage with Flask-SQLAlchemy/code/data.db
05-Token Refreshing and Flask-JWT Extended/code/data.db
06- Introduction (Advanced Section)/code/data.db
07- Serialization with Marshmallow/code/data.db
08- Email Confirmations/data.db
08- Email Confirmations/.env
09- Advanced Email Confirmation/.env
09- Advanced Email Confirmation/data.db
10- Image Uploads/.env
10- Image Uploads/data.db
10- Image Uploads/static/images/user_1/Screenshot_2021-08-04_at_5.54.41_PM.png
