
03-Storing resources in SQL/code/data.db
*.pyc
*.pyc
03-Storing resources in SQL/code/data.db
03-Storing resources in SQL/code/__pycache__/item.cpython-38.pyc
04-Simplifying storage with Flask-SQLAlchemy/code/data.db
05-Token Refreshing and Flask-JWT Extended/code/data.db
06- Introduction (Advanced Section)/code/data.db
07- Serialization with Marshmallow/code/data.db
08- Email Confirmations/data.db
