[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.0.2"
flask-jwt-extended = "==3.25.0"
flask-restful = "==0.3.6"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
marshmallow = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
